@model EforahWebapp.Models.Gebruiker

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Gebruiker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gebruikersnaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gebruikersnaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wachtwoord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wachtwoord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefoonnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefoonnummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.voornaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.voornaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.achternaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.achternaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefoonnummerAlt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefoonnummerAlt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Locatie.postcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Locatie.postcode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Wijzigen", "Edit", new { id = Model.gebruikerId }) |
    @Html.ActionLink("Terug naar lijst", "Index")
</p>
