<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/dataTable/css")
    @Styles.Render("~/iFrame/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="col-md-2">
                <button class="dropdown-toggle btn" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="background-color:#222; color:#9d9d9d; padding:15px">Menu <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("index", "Lid")">Leden</a></li>
                    <li><a href="@Url.Action("index", "Vereniging")">Verenigingen</a></li>
                    <li><a href="@Url.Action("index", "Mededeling")">Mededelingen</a></li>
                    <li><a href="@Url.Action("index", "Gebruiker")">Gebruikers</a></li>
                </ul>
            </div>
            @Html.Partial("_LoginPartial")  
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p><strong>Copyright © @DateTime.Now.Year - Eforah.</strong></p> 
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
